Body{
    Font-family;
    Arial,sans-serif;
    Margin:0;
    padding:0;
    Background-color:#F4F4F4;
}
header{
    Background-color:#2c3e50;
    Color:White;
    Text-align:Center;

}
Section{
    Background:White;
    Margin:20px;
    padding:20px;
    Border-radius:8px;
}
h2{
    color :#2c3e50;
}
.Skills ul{
    List-style-type:square;
    padding-left:20px;
}
.project-box{
    Background:color #ecfof1px;
    padding:15px;
    Nargin-bottom:10px;
    Border-radius:5px;
}
footer{
    Background-color:#2c3e50;
    Color:white;
    text-align: center;
    padding:10px;

}







